body {
    background: #b8fdff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    color: #000000;
}

header {
    background-color: #ba67ff;
    border: 1px solid #dee2e6;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin: 0;
}

.details {
    display: flex;
    gap: 25px;
}

.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #aabfeb;
    border-radius: 20px;
    margin-top: 25px;
}


